[Unit]
Description=Script to configure UPS PICO after reboot
After=upspicossd.service

[Service]
Type=simple
ExecStart=/home/kali/GIT/Raspbery_PI_Scripts/UPS-PICO/upspicocfg.bash start
PIDFile=/run/upspicocfg.pid

[Install]
WantedBy=default.target
